[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal-alt-arrows"]
	path = reveal-alt-arrows
	url = https://github.com/bunopus/reveal-alt-arrows.git
